/* aタグに余白やテキストサイズの指定をする */
.button a {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    color: #000000;
    font-size: 18px;
    line-height: 1.3em;
    text-decoration: none;
}

/* 疑似要素に平行四辺形の装飾を指定する */
.button a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 3px;
    background-color: #95cf4a;
    transform: skewX(-15deg);
}

.button a:hover::before {
  background-color: #aecea9;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px; /* 画面下からの距離 */
  right: 20px;  /* 画面右からの距離 */
  background-color: #95cf4a; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: 2px solid #4b6d1f;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#scrollToTopBtn:hover {
  background-color: #aecea9; /* ホバー時の背景色 */
}
