code {
    /* 内側の余白 */
    padding: 0.1em 0.3em;
    /* 外側の余白 */
    margin: 0 0.2em;
    /* 角の丸み */
    border-radius: 5px;
    /* 背景色 */
    background: #222c36;
    /* 文字色 */
    color: #ffffff;
    /* 文字サイズ */
    font-size: 0.9em;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}