.gallery-container {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.gallery-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    white-space: nowrap;
}

.gallery-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}