h1 {
    background-color: #95cf4a;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

h2 {
    border-bottom: double 5px #95cf4a;
}

h3 {
    border-bottom: dotted 5px #95cf4a;
}

.img_h1,
.img_h2,
.img_h3 {
    vertical-align: middle;
    /* 画像を文字と垂直方向で中央揃えにする */
}