 .li_img_lv1 {
     height: 30px;
     vertical-align: middle;
 }

 .li_img_lv2 {
     height: 26px;
     vertical-align: middle;
 }

 .li_img_lv3 {
     height: 21px;
     vertical-align: middle;
 }

 .text-left-flex {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     /*なくても良い↓*/
     text-align: left;
 }

 .text-left-flex a {
     text-decoration: none;
     transition: all 0.5s;
 }

 .text-left-flex a:hover {
     background-color: #95cf4a;
 }


 ul {
     list-style: none;
 }

 ul li {
     color: black;
     font-size: 30px;
     font-weight: bold;
     line-height: 2;
 }

 ul li ul li {
     font-size: 26px;
 }

 ul li ul li::before {
     content: '';
     background: black;
     display: inline-block;
     height: 12px;
     width: 12px;
     margin-right: 6px;
     margin-bottom: 5px;
 }

 ul li ul li ul li {
     font-size: 21px;
 }

 ul li ul li ul li::before {
     height: 2px;
     margin-bottom: 8px;
 }