.screenshots {
    text-align: center;
}

.screenshots img {
    border-radius: 10px;
    /* border: 2px solid #000;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5); */
    margin: 0px 5px;
    max-width: 700px;
    height: auto;
}